* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input[type='button'] {
    cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

ul {
    margin-bottom: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

button {
    background: none;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .container {
        max-width: unset;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: unset;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.ps__thumb-y {
    background: #222;
}

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
    background: #333;
}

.tparrows:hover {
    background: transparent;
}

.uranus.tparrows:before {
    font-family: "Material-Design-Iconic-Font";
    font-size: 30px;
    color: #fff;
}

.tparrows.tp-leftarrow::before {
    content: '\f2ea';
}

.tparrows.tp-rightarrow::before {
    content: '\f2ee';
}

.slide-wrapper .slide-item {
    outline: none;
}

.table {
    margin-bottom: 0;
}

/* ----- Typography ----- */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

blockquote {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 700;
}

p {
    line-height: -webkit-calc(24/14);
    line-height: -moz-calc(24/14);
    line-height: calc(24/14);
}

/*-----------------------------------------------------*/
/*                   ELEMENTS                          */
/*-----------------------------------------------------*/
/* ----- Titles ----- */
.title--ff-mont {
    font-family: "Montserrat", sans-serif;
}

.title--underline {
    text-decoration: underline;
}

.title--fw-regular {
    font-weight: 400;
}

/* ----- Links ----- */
a {
    display: inline-block;
    font-family: "Poppins", sans-serif;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #333;
}

a:hover,
a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* ----- Logo ----- */
.logo {
    margin-top: 10px;
}

/*-----------------------------------------------------*/
/*                   OBJECTS                           */
/*-----------------------------------------------------*/
/* ----- Section----- */
section {
    overflow: hidden;
    position: relative;
}

.section__content {
    position: relative;
    margin: 0 auto;
}

.section__content--w2760 {
    min-width: 2760px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media (max-width: 991px) {
    .section__content--w2760 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: auto;
    }
}

.section__content--w1760 {
    max-width: 1760px;
}

.section__content--w1720 {
    max-width: 1720px;
}

.section__content--w1550 {
    max-width: 1550px;
}

.section__content--w1420 {
    max-width: 1420px;
}

.section__content--w860 {
    max-width: 860px;
}

.section__content--w800 {
    max-width: 800px;
}

.section__content--w1030 {
    max-width: 1030px;
}

@media (min-width: 1520px) {
    .section__content--w2306 {
        padding: 0 60px;
        min-width: 2306px;
    }
}

@media (max-width: 1519px) {
    .section__content--w2306 {
        padding: 0 30px;
    }
}

.section__content--w1510 {
    max-width: 1510px;
}

.home-gallery .latest-work__item {
    margin-bottom: 0;
}

.home-creative .home-creative__intro {
    background: #282828;
    height: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-creative .home-creative__intro .home-creative__intro-inner h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
}

@media (min-width: 992px) and (max-width: 1519px) {
    .home-creative .home-creative__intro .home-creative__intro-inner h3 {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .home-creative .home-creative__intro .home-creative__intro-inner h3 {
        font-size: 18px;
    }
}

.home-creative .home-creative__intro .home-creative__intro-inner h2 {
    color: #F9EC11;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 20px;
}

@media (min-width: 992px) and (max-width: 1519px) {
    .home-creative .home-creative__intro .home-creative__intro-inner h2 {
        font-size: 28px;
    }
}

@media (max-width: 320px) {
    .home-creative .home-creative__intro .home-creative__intro-inner h2 {
        font-size: 28px;
    }
}

@media (max-width: 1200px) {
    .home-creative .home-creative__intro .home-creative__intro-inner h2 {
        margin-bottom: 10px;
    }
}

.home-creative .home-creative__intro .home-creative__intro-inner p {
    font-family: "Poppins", sans-serif;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1519px) {
    .home-creative .home-creative__intro .home-creative__intro-inner p {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .home-creative .home-creative__intro .home-creative__intro-inner p {
        font-size: 12px;
    }
}

.home-creative .home-creative__intro .home-creative__intro-inner a.au-btn {
    margin-top: 45px;
}

@media (min-width: 1024px) and (max-width: 1519px) {
    .home-creative .home-creative__intro .home-creative__intro-inner a.au-btn {
        margin-top: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1519px) {
    .home-creative .home-creative__intro .home-creative__intro-inner a.au-btn {
        margin-top: 30px;
    }
}

@media (max-width: 320px) {
    .home-creative .home-creative__intro .home-creative__intro-inner a.au-btn {
        margin-top: 10px;
    }
}

@media (max-width: 1200px) {
    .home-creative .home-creative__intro .home-creative__intro-inner a.au-btn {
        padding: 0 30px;
    }
}

@media (min-width: 1920px) {
    .home-creative .home-creative__intro {
        padding: 0 75px;
    }
}

@media (max-width: 1919px) {
    .home-creative .home-creative__intro {
        padding: 0 40px;
    }
}

@media (max-width: 1200px) {
    .home-creative .home-creative__intro {
        padding: 0 20px;
    }
}

@media (max-width: 991px) {
    .home-creative .home-creative__intro {
        padding: 0 50px;
    }
}

@media (max-width: 320px) {
    .home-creative .home-creative__intro {
        padding: 0 30px;
    }
}

.home-creative .home-creative__contact {
    background: #282828;
    height: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #F9EC11;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-creative .home-creative__contact .home-creative__contact-inner .text {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

@media (min-width: 992px) and (max-width: 1519px) {
    .home-creative .home-creative__contact .home-creative__contact-inner .text {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@media (max-width: 320px) {
    .home-creative .home-creative__contact .home-creative__contact-inner .text {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@media (min-width: 1920px) {
    .home-creative .home-creative__contact {
        padding: 0 60px;
    }
}

@media (max-width: 1919px) {
    .home-creative .home-creative__contact {
        padding: 0 40px;
    }
}

@media (max-width: 1200px) {
    .home-creative .home-creative__contact {
        padding: 0 20px;
    }
}

@media (max-width: 992px) {
    .home-creative .home-creative__contact {
        padding: 0 50px;
    }
}

@media (max-width: 320px) {
    .home-creative .home-creative__contact {
        padding: 0 30px;
    }
}

.home-creative .grid-item {
    display: inline-block;
}

.home-creative .grid-item > img {
    display: block;
    width: 100%;
}

.home-creative-section .home-creative__content-wrap {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home-creative-section .home-creative__content-wrap .home-creative__content {
    overflow: hidden;
}

.home-creative-section .home-creative__content-wrap .home-creative__content a.au-btn {
    margin-top: 35px;
    border-color: #666;
}

.home-creative-section .home-creative__content-wrap .home-creative__content a.au-btn:hover {
    background: #1b1b1b;
    border-color: transparent;
    color: #fff;
}

.home-creative-section.home-creative--img-right .home-creative__content-wrap .home-creative__content {
    text-align: right;
}

.home-creative-section.home-creative--img-right .home-creative__content-wrap .home-creative__content .title-bgimg h2 {
    margin-right: -28px;
}

.home-creative-section.home-creative--img-right .home-creative__content-wrap .home-creative__content .title-bgimg h2 .line {
    margin-right: 30px;
}

@media (max-width: 767px) {
    .home-creative-section.home-creative--img-right .home-creative__content-wrap .home-creative__content .title-bgimg h2 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .home-creative-section.home-creative--img-right .home-creative__content-wrap .home-creative__content {
        margin-bottom: 50px;
    }
}

@media (max-width: 991px) {
    .home-creative-section.home-creative--img-left .home-creative__image {
        margin-bottom: 50px;
    }
}

.home-creative-section.home-creative--img-left .home-creative__content-wrap .home-creative__content .title-bgimg h2 {
    margin-left: 0;
}

.home-creative-section.home-creative--img-left .home-creative__content-wrap .home-creative__content .title-bgimg h2 .line {
    margin-left: -36px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-creative-section.home-creative--img-left .home-creative__content-wrap .home-creative__content .title-bgimg h2 .line {
        margin-left: 2px;
    }
}

/*-----------------------------------------------------*/
/*                   COMPONENTS                        */
/*-----------------------------------------------------*/
/* ----- Buttons----- */
.au-btn {
    font-size: 14px;
    line-height: 50px;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.au-btn:active {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.au-btn--dark:hover {
    background: #333;
}


.au-btn.au-btn--border-white {
    border-color: #fff;
    color: #fff;
}

.au-btn--small {
    line-height: 30px;
    font-size: 10px;
}

.au-btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.au-btn--pill {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.au-btn--border {
    color: #666;
    border: 1px solid #999;
    background: transparent;
}

.au-btn--border:hover {
    border-color: transparent;
}

.au-btn--border.au-btn--border-6 {
    border-color: #666;
}

.au-btn--border.au-btn--border-6:hover {
    border-color: #333;
}

.au-btn-menu-right:hover i {
    color: #c2c2c2;
}

.au-btn-menu-right i {
    color: #fff;
    font-size: 24px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* ----- Header 1 ----- */
.header--fixed {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.95);
}

.header--fixed .nav-header > ul > li > a {
    padding: 20px;
}


@media (max-width: 1519px) {
    .header--fixed .nav-header {
        margin-right: 20px;
    }

    .header--fixed .nav-header > ul > li > a {
        padding: 20px 12px;
    }

}

@media (max-width: 1199px) {
    .header--fixed .nav-header > ul > li > a {
        padding: 20px 6px;
    }
}

.header-transparent.header--fixed {
    background-color: rgb(249, 236, 17, 0.5);
    -webkit-box-shadow: 1px 0px 3px #222;
    -moz-box-shadow: 1px 0px 3px #222;
    box-shadow: 1px 0px 3px #222;
}

.header-transparent {
    position: absolute;
    width: 100%;
    z-index: 100;
}


.header-transparent .nav-header > ul > li > a {
    color: #ccc;
}

.header-transparent .nav-header > ul > li > a:hover {
    color: #fff;
}

.logo-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__content > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}


.logo-wrap {
    text-align: center;
}

.navheader-wrap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.nav-header {
    margin-right: 65px;
}

.nav-header > ul > li > a {
    padding: 30px 20px;
    color: #666;
}

.nav-header > ul > li > a:hover {
    color: #333;
}




@media (max-width: 1519px) {
    .nav-header {
        margin-right: 20px;
    }

    .nav-header > ul > li > a {
        padding: 30px 12px;
    }

}

@media (max-width: 1199px) {
    .nav-header > ul > li > a {
        padding: 30px 6px;
    }
}

.header-mobile .header-mobile__bar {
    padding: 15px 0;
}

.header-mobile .logo {
    margin-top: 6px;
}

.header-mobile .hamburger {
    width: 36px;
    height: 36px;
    padding: 0;
    line-height: 1;
    vertical-align: top;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-mobile .hamburger .hamburger-box {
    width: 20px;
    height: 15px;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner {
    width: 20px;
    height: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:before {
    width: 20px;
    height: 2px;
    top: 6px;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:after {
    top: 12px;
    width: 20px;
    height: 2px;
}

.header-mobile .navbar-mobile {
    display: none;
    position: absolute;
    width: 100%;
    top: 66px;
    z-index: 20;
}

.header-mobile .navbar-mobile .navbar-mobile__list {
    background: #f8f8f8;
}

.header-mobile .navbar-mobile .navbar-mobile__list > li > a {
    padding-left: 15px !important;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a {
    color: #666;
    display: block;
    padding: 10px 15px;
    padding-right: 25px;
    padding-left: 0;
    border-bottom: 1px solid #e6e6e6;
    text-transform: capitalize;
    line-height: inherit;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a:hover {
    color: #333;
}


.header-mobile.header-mobile-2 .hamburger {
    background: #1b1b1b;
}

.header-mobile.header-mobile-2 .hamburger .hamburger-box .hamburger-inner {
    background: #fff;
}

.header-mobile.header-mobile-2 .hamburger .hamburger-box .hamburger-inner:before {
    background: #fff;
}

.header-mobile.header-mobile-2 .hamburger .hamburger-box .hamburger-inner:after {
    background: #fff;
}

.hamburger.is-active .hamburger-box .hamburger-inner:after {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-90deg);
    -moz-transform: translate3d(0, -12px, 0) rotate(-90deg);
    transform: translate3d(0, -12px, 0) rotate(-90deg);
}

.header-pull {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    -webkit-box-shadow: 0px 6px 14.56px 1.44px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 6px 14.56px 1.44px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 6px 14.56px 1.44px rgba(0, 0, 0, 0.22);
    padding: 65px;
    padding-right: 70px;
    overflow-y: auto;
}

.header-pull .logo {
    margin-top: 0;
}

.header-pull .navbar-pull {
    margin-top: 65px;
}

.header-pull .navbar-pull .navbar-pull-list li a {
    line-height: 48px;
}

.header-pull .navbar-pull .navbar-pull-list li > a {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    padding: 0;
}

.header-pull .navbar-pull .navbar-pull-list li > a:hover {
    color: #333;
}



.header-pull .social {
    margin-top: 35px;
}

.header-pull--right .header-pull {
    right: -310px;
    left: auto;
    background: #fff;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.header-pull--right2-wrap {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 250px;
    right: 0;
    margin-top: 65px;
}

.header-pull--right2-wrap .header-pull--right2__inner .logo {
    margin-top: 0;
}

.header-pull--right.show .header-pull {
    right: 0;
}

.social a {
    margin-right: 15px;
}

.social a > i {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
    color: #666;
}

.social a > i.zmdi-facebook:hover {
    color: #3b5998;
}

.social a > i.zmdi-instagram:hover {
    color: #f77737;
}

.social a > i.zmdi-twitter:hover {
    color: #00aced;
}

.social a > i.zmdi-dribbble:hover {
    color: #ea4c89;
}

.header-2 {
    background: #1b1b1b;
}

.header-2 .header-2__inner {
    position: relative;
}

.header-2 .header-2__inner .logo {
    margin-top: 29px;
}

.header-2 .header-2__inner .nav-header {
    margin-right: 60px;
}

.header-2 .header-2__inner .nav-header > ul > li > a {
    color: #b2b2b2;
}

.header-2 .header-2__inner .nav-header > ul > li > a:hover {
    color: #fff;
}

@media (max-width: 1519px) {
    .header-2 .header-2__inner .nav-header > ul > li > a {
        padding: 30px 20px;
    }
}



/* ----- Slide 2 ----- */
.slide-2 {
    background: url("../images/contoh1.jpeg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.slide-2 .slide-2-wrap {
    width: 100%;
}

.slide-2 .slide-2-wrap .hi-wrap {
    position: absolute;
    width: 214px;
    z-index: 5;
    left: 32.70833%;
    margin-left: -107px;
    top: 38.88889%;
    margin-top: -72px;
    -webkit-animation: hiMove 2.5s infinite;
    -moz-animation: hiMove 2.5s infinite;
    -o-animation: hiMove 2.5s infinite;
    animation: hiMove 2.5s infinite;
    -webkit-transform-origin: right bottom 0;
    -moz-transform-origin: right bottom 0;
    -ms-transform-origin: right bottom 0;
    -o-transform-origin: right bottom 0;
    transform-origin: right bottom 0;
}

@media (max-width: 1199px) {
    .slide-2 .slide-2-wrap .hi-wrap {
        width: 150px;
        margin-left: -75px;
        margin-top: -50.46729px;
    }
}

@media (max-width: 991px) {
    .slide-2 .slide-2-wrap .hi-wrap {
        width: 120px;
        margin-left: -60px;
        margin-top: -40.37383px;
    }
}

@media (max-width: 575px) {
    .slide-2 .slide-2-wrap .hi-wrap {
        display: none;
    }
}

@-webkit-keyframes hiMove {
    0% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@-moz-keyframes hiMove {
    0% {
        -moz-transform: scale(1.04);
        transform: scale(1.04);
    }

    50% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -moz-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@-o-keyframes hiMove {
    0% {
        -o-transform: scale(1.04);
        transform: scale(1.04);
    }

    50% {
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -o-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@keyframes hiMove {
    0% {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04);
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04);
    }
}

/* ----- Footer  ----- */
.footer {
    padding: 30px 0;
}

@media (max-width: 991px) {
    .footer .footer__logo {
        text-align: center;
    }
}

.footer .footer__social {
    text-align: center;
}

.footer .footer__social a {
    margin-right: 25px;
}

.footer .footer__social a :last-child {
    margin-right: 0;
}

.footer .footer__social a > i {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 18px;
    color: #282828;
}

.footer .footer__social a > i.zmdi-facebook:hover {
    color: #3b5998;
}

.footer .footer__social a > i.zmdi-instagram:hover {
    color: #f77737;
}

.footer .footer__social a > i.zmdi-twitter:hover {
    color: #00aced;
}

.footer .footer__social a > i.zmdi-dribbble:hover {
    color: #ea4c89;
}

@media (max-width: 991px) {
    .footer .footer__social {
        margin-top: 30px;
    }
}

.footer .footer__copyright {
    color: #b2b2b2;
    text-align: right;
}

@media (max-width: 991px) {
    .footer .footer__copyright {
        text-align: center;
        margin-top: 30px;
    }
}

footer {
    position: relative;
    overflow: hidden;
}

.footer--dark {
    background: #F9EC11;
}

.footer-2 .logo {
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-2 p {
    color: #b2b2b2;
}

.footer-2 .footer__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.footer-2 .footer-2__form {
    margin-top: 40px;
}

.footer-2 .footer-2__form > input {
    color: #666;
    padding: 0 15px;
    font-size: 14px;
    line-height: 50px;
    border: none;
    font-family: "Poppins", sans-serif;
    float: left;
    width: 67.5%;
}

.footer-2 .footer-2__form > button[type="submit"] {
    width: 32.5%;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
    background: #111;
    text-align: center;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.footer-2 .footer-2__form > button[type="submit"]:hover {
    background: #666;
}

.footer-2 .footer__list {
    padding-left: 17px;
}

.footer-2 .footer__list li {
    color: #b2b2b2;
    margin-bottom: 10px;
}

.footer-2 .footer__list li:last-child {
    margin-bottom: 0;
}

.footer-2 .footer__list li a {
    color: #b2b2b2;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 2px;
}

.footer-2 .footer__list li a:hover {
    margin-left: 5px;
    color: #fff;
}

.footer-2 .footer__instagram {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-2 .footer__instagram a {
    display: block;
    width: -webkit-calc((100% - 40px) / 3);
    width: -moz-calc((100% - 40px) / 3);
    width: calc((100% - 40px) / 3);
    margin-bottom: 20px;
}

.col--no-padding {
    padding: 0;
}

@media (max-width: 991px) {
    .col--no-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.footer-col {
    margin-bottom: 40px;
}

.copyright {
    padding: 30px 0;
    background: #111;
}

.copyright .text {
    color: #b2b2b2;
}

.copyright .text span {
    color: #fff;
}

.copyright .social {
    color: #b2b2b2;
}

@media (max-width: 991px) {
    .copyright .social {
        margin-top: 20px;
    }
}

.copyright .social a {
    margin-right: 25px;
}

.copyright .social a:last-child {
    margin-right: 0;
}

.copyright .social a > i {
    font-size: 18px;
    color: #b2b2b2;
}


/*Col Special*/
@media (min-width: 768px) {
    .col-md-5.col-sp-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 42.666667%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 42.666667%;
        flex: 0 0 42.666667%;
        max-width: 42.666667%;
    }
}

@media (min-width: 768px) {
    .col-md-7.col-sp-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 57.333333%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 57.333333%;
        flex: 0 0 57.333333%;
        max-width: 57.333333%;
    }
}


/* ----- Black Version ----- */
.black {
    background: #1b1b1b;
    color: #dcdcdc;
}

.black .page-loader__inner {
    border-bottom-color: #fff;
    border-left-color: #fff;
}

.black .au-btn:hover {
    background: #F9EC11;
    color: #000;
}

.black .au-btn:hover {
    background: #F9EC11;
    color: #000;
}

.black .au-btn--border {
    color: #dcdcdc;
}

.black .au-btn.au-btn--dark {
    background: #fff;
    color: #333;
}

.black .au-btn.au-btn--dark:hover {
    background: #dcdcdc;
    color: #333;
}

.black .who-ami .who-ami__title a.au-btn--dark {
    background: #fff;
    color: #333;
}

.black .who-ami .who-ami__title a.au-btn--dark:hover {
    background: #dcdcdc;
}

.black .bg-f8 {
    background: #111;
}

.black .bg-layer {
    background: #111;
}

.black .header-mobile .hamburger {
    background: #1b1b1b;
}

.black .header-mobile .hamburger .hamburger-inner, .black .header-mobile .hamburger .hamburger-inner:after, .black .header-mobile .hamburger .hamburger-inner:before {
    background: #fff;
}

.black .nav-header > ul > li > a {
    color: #000;
}

.black .social a > i {
    color: #dcdcdc;
}

.black .header-pull {
    background: #1b1b1b;
}

.black .header-mobile {
    border-bottom: 1px solid #353535;
}

.black .footer--dark {
    border-top: 1px solid #353535;
}

.black .footer-2 {
    border-top: none;
}

.black .copyright .social a > i {
    color: #b2b2b2;
}

.black .copyright .social a:hover > i.zmdi-facebook:hover {
    color: #3b5998;
}

.black .copyright .social a:hover > i.zmdi-instagram:hover {
    color: #f77737;
}

.black .copyright .social a:hover > i.zmdi-twitter:hover {
    color: #00aced;
}

.black .copyright .social a:hover > i.zmdi-dribbble:hover {
    color: #ea4c89;
}

.black .au-tab .au-tab__nav .au-tab__nav-item span {
    color: #dcdcdc;
}

.black .au-tab .au-tab__nav .au-tab__nav-item.active span {
    color: white;
}

